.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #03001C;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #FFFFFF;
}

p {
  font-size: 2rem;
  color: #fff;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #fff;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.button {
    border-radius: 4px;
    background-color: #03001C;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family:  'Indie Flower', cursive;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
    color: #fff;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
